

.Wrapper{
  height: 100%;
  width: 100vw;
  box-sizing: border-box;

}



.Wrapper .cardWrapper{
  padding-top: 10rem ;
  padding-top: 10rem;

  height: 400px ;
  width: 80vw;
  margin:0 auto;
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;

place-items: center;
  gap: 3rem;
  
}


@media screen and (max-width:1500px) {
  .Wrapper .cardWrapper{
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (max-width:998px) {
  .Wrapper .cardWrapper{
    grid-template-columns: 1fr ;
  }
  
}

@media screen and (max-width:600px) {
  .Wrapper .cardWrapper{
    grid-template-columns: 1fr ;
  }
  
}




